<html>
  <head>
    <title>HRP</title>
    <link href="../static/css/mainstyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/pred">Prediction</a>
    </div>

    <div class="header">
      <h1>Hospital Readmission Prediction</h1>
      <h2>Using IBM Watson</h2>
    </div>
<br>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div>
          <h3>Objective</h3>
          <p>
            The prime objective of this project is to predict whether a person who has been diagnosed with diabetes will be readmitted to the hospital within 30 days or not.This will help the hospitals in being ready for any number of patients that could be readmitted.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div>
          <h3>Method</h3>
          <p>
            The problem associated is binary classification.  Since the target variable in the dataset is quite imbalanced, SMOTE algorithm was used to oversample the minority class.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div>
          <h3>Models</h3>
          <p>
            A number of models were used such as logistic regression, KNN Classifier, Decision Tree Classifier, Random Forest Classifier, Adaboost Classifier etc.Out of all the models, random forest classifier is found to perform the best.
          </p>
        </div>
      </div>
      </div>
    </div>
<br>

<footer class="footer">
  <h1>Developed by Pranav&copy;</h1>
</footer>

  </body>
</html>