<!DOCTYPE html>
<html lang="en">
<head>
<title>Hospital Readmission Prediction</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/mainstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/pred">Prediction</a>
</div>


<div class="row3">
<h1>{{y}}</h1>
</div>
<footer class="footer">
    <h1>Developed by Pranav&copy;</h1>
  </footer>
</body>
</html>
